'.source.php':
    'sfcontrollera':
        'prefix': 'sfcontrollera'
        'body': """
use Sensio\\Bundle\\FrameworkExtraBundle\\Configuration\\Route;
use Sensio\\Bundle\\FrameworkExtraBundle\\Configuration\\Template;
use Symfony\\Bundle\\FrameworkBundle\\Controller\\Controller;
use Symfony\\Component\\HttpFoundation\\Request;

class ${1:Default}Controller extends Controller
{
    /**
     * @Route("${2:/}"${3:, name="${4:name}"}${5:, requirements="${6:requirements}"}${7:, defaults="${8:defaults}"})
     * @Template()
     */
    public function ${9:index}Action(${91:Request $request})
    {
        ${0:// Logic}
    }
}
"""
