'.source.php':
    'sfidcolumn':
        'prefix': 'sfidcolumn'
        'body': """
/**
 * @ORM\\Column(name="id", type="integer", nullable=false)
 * @ORM\\Id()
 * @ORM\\GeneratedValue(strategy="IDENTITY")
 */
"""
