'.text.html.twig':
    'sftwigform':
        'prefix': 'sftwigform'
        'body': """
<form class="${1:}" action="{{ ${2:path('${3:}')} }}" method="${4:post}" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="${5:Submit}" />
</form>
"""
